/*Googlefont*/

@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap');

* {
    box-sizing: border-box;
}

header,
section {
    overflow: hidden;
}

:root {
    --Snigle-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom,
            #425c5A, #425c5A);
    --light-gray: rgba(255, 255, 255, 0)
}

header a {
    font-family:
        var(--Snigle-font);
    font-size: 0, 9em;
    color: whitesmoke;
}

header {
    background: #425c5A;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: black;
    transition: 0.3s;
}

button .navbar-toggler .collapse {
    z-index: 1;
}

header i:hover {
    color: black;
}

header .navbar-brand:hover {
    color: black;
    transition: 0.3s;
}



/* Julia Morgan */

header .row .col-sm-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin 1vmin;
    font-family: var(--Rubik);
    color: whitesmoke;
}

header .row .col-sm-5 img {
    width: 90%;
    margin-top: 3vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);

}

header .container .col-sm-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}


header .container .col-sm-7 h1 {
    font-size: 8.5vmin 1vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}


/* carousel TOP */

.carousel-caption {
    position: absolute;
    left: 0;
    width: 50%;
    top: 2%;
    margin-left: 15%;
    text-align: justify;
    text-align: left;

}

.carousel-caption h5 {
    font-size: 5em;
    color: #425c5A;
    font-weight: bold;
}

.carousel-caption p {
    color: #425c5A;
}

.bnr-icons {
    color: #425c5A;
    font-size: 35px;
}

.btn {
    padding: 1.375rem 0.75rem;
}

.carousel-indicators li {
    background-color: #425c5A;
}


.btn-outline-success {
    color: #425c5A;
    border-color: #425c5A;
    border-radius: 25px;
    background-image: none;
    background-color: transparent;
}

.btn-outline-success:hover {
    color: none;
}

/* Section 1 */

.section-1 {
    padding: 20vmin 0;
}

.section-1 .row .col-sm-6 .skycrapper img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-sm-6:last-child {
    position: relative;
}

.section-1 .row .col-sm-6 .panel {
    /* position: absolute;
    top: 7vmin;
    left: -18vmin; */
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 9vmin 5vmin 9vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    /* z-index: 1; */

}

.section-1 .row .col-sm-6 .takeshi {
    width: 30%;
    margin-bottom: 10px;
    border-radius: 3px;

}

.section-1 .row .col-sm-6 h1 {
    font-weight: bold;
    padding: 0, 4em 0;
    font-size: 2em;
    color: #425c5A;
}

.section-1 .row .col-sm-6 p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

/* Section 2 */

.cover {
    width: 100%;
    height: 55vmin;
    background: url(/asset/industrial.jpg);
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .content {
    background: rgb(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Rubik);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: white;
}

.number .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px #425c5A;
}

.number {
    margin-top: -15vmin;
}

.number .rect h1 {
    font-size: 5rem;
    color: #425c5A;
}

.number .rect p {
    font-family: var(--Patua);
}

/* Section 3 */

.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: #425c5A;
}

.section-3 .col-sm-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-sm-12>p {
    padding: 0.4em;
    padding-bottom: 2em;
    color: whitesmoke;
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 45px;
    padding: 1vmin 4.5vmin;
    margin: 1em;

}

.section-3 .dekstop h3 {
    font-size: 4vmin;
}

.section-3 .dekstop p {
    font-size: 2vmin;
}

/* Section 4 */

.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22rem;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card .card-body>a {
    font-size: 1.5em;
}

.section-4 .carousel-item {
    padding-left: 1rem;
}

.border-radius {
    border-radius: 100px;
    width: 60%;
}

/* Footer */

footer {
    background: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #De5b6D;
}

footer input {
    border: none !important;
}

footer input::placehorder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: #De5b6D;
    border: none;
}

footer .coloumn i {
    color: #De5b6D;
}

footer .coloumn i+i {
    padding: 0 0.1;
}